#! /bin/bash

# defines how hlwm behaves with clients

function hc {
	cmds="$cmds , $@"
}

# Remove old rules
hc unrule -F

# Focus on newly spawned clients
hc rule focus=on

# Dialogs/Splash screens should pseudotile
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(DIALOG|UTILITY|SPLASH)' pseudotile=on

# Dialogs earn focus
hc rule windowtype='_NET_WM_WINDOW_TYPE_DIALOG' focus=on

# Don't try to manage docks and what not (like polybar)
hc rule windowtype~'_NET_WM_WINDOW_TYPE_(NOTIFICATION|DOCK|DESKTOP)' manage=off

echo $cmds
